{% extends 'profiles/layout.html' %}

{% block content %}
<header>
    <h1>Welcome, {{ user.username }}</h1>
</header>
<main>
    <section>
        <h2>Profile Details</h2>
        <p><strong>Full Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone Number:</strong> {{ user.userprofile.phone_number }}</p>
        <p><img src="/profile/media/profile_photos/default.png" alt="Profile Photo" style="width:150px; height:150px; border-radius:50%;"></p>
    </section>
    <section>
        <h2>Your Booked Flights</h2>
        {% if flights %}
            <ul>
                {% for flight in flights %}
                    <li>
                        {{ flight.flight_name }} from {{ flight.origin }} to {{ flight.destination }}
                        <form action="{% url 'profile:cancel_booking'  %}" method="post" style="display:inline;">
                            <input type="hidden" name="flight_cancel_id" value="{{ flight.id }}">   
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Cancel</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have no booked flights.</p>
        {% endif %}
    </section>
    <section>
        <a href="{% url 'profile:update_profile' %}">UpdateProfile</a>
    </section>
</main>
{% endblock %}
