{% extends 'users/layout.html' %}
{% block body%}
    <h2>Login Form</h2>
    {% if message%}
        <div>{{message}}</div>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded',function(){
            document.querySelector('form').onsubmit = function(event){
                let uname = document.querySelector('#name').value;
                let passwd = document.querySelector('#passwd').value;
                if(!uname || !passwd){
                    event.preventDefault();
                    document.querySelector('#Error').innerText = "Enter username and password";
                }else{
                    return true;
                }
                return false;
            };
        });

    </script>
    <form action="{% url 'users:login_view' %}" method="post">
        {% csrf_token %}
        Username:<input id="name" type="text"  name="username"> <br>
        Password: <input id="passwd" type="password"  name="password"><br>
        <input type="submit" value="submit">
    </form>
    <p id="Error" style="color: red;"></p>
{% endblock %}