{% extends 'flights/layout.html' %}
{% load static %}
{% block body %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <script src="{% static 'JS/search.js' %}"></script>

{% if user.is_authenticated %}
    <a href="{% url 'profile:profile_view' %}">Go to Profile</a>
{% endif %}
<form action="{%url 'flights:flight_search'%}" method="post">
    {% csrf_token %}
    origin: {{Search_form.origin}}
    <div id="origin-suggestions" class="suggestions-box"></div><br>
    destination: {{Search_form.destination}}
    <div id="destination-suggestions" class="suggestions-box"></div>
<input type="submit" value="Search"> </input>
</form>
   
{% endblock %}