{% extends 'flights/layout.html' %}
{% block body%}

<h2>Flight {{flights.id}}</h2>

<li>origin : {{flights.origin}}</li>
<li>destination : {{flights.destnation}}</li>
<li>duraion : {{flights.duration}}</li>
<br>

<h2>Passengers</h2>

{% for passenger in passengers%}
    <li>{{passenger}}</li>
    {%empty%}
    <li>No passengers</li>
{%endfor%}
<br>

<form action="{% url 'flights:book' flights.id %}" method="post">
    {% csrf_token %}
    <select name="passenger" >
        {% for non_passenger in non_passengers%}
        <option value="{{non_passenger.id}}">{{ non_passenger }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="submit">
</form>

<a href="{% url 'flights:index' %}">ViewAllFlights</a>
{% endblock %}